@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    transition: 2s;
    object-fit: cover;
}
.carDiv{
    height: 85vh;
    width:100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(2px);
    display: flex;
    color: white;
    
}





