@tailwind base;
@tailwind components;
@tailwind utilities;

/* .imageDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
*/

.carousel {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselText{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .carouselText h1{
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    opacity: 50%;
    background: whitesmoke;
} */
