.font-face-bwl {
    font-family: "BarlowLight";
   }
.font-face-bwt {
font-family: "BarlowThin";
}
.font-face-bwb {
    font-family: "BarlowBold";
    }
.font-face-bwr {
    font-family: "BarlowRegular";
    }